.search-input-box>input {
    all: unset;
    width: 100%;
    padding-left: 20px;
}
.search-input-box{
    background-color: #282828;
    width: 95%;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
}
.search-input-box > img{
    position: relative;
    left: 10px;
}