.tasks-container {
  width: 100%;
  max-height: 1000px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 1;
  padding: 10px;
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 40px;
}