.task-container{
    width: 400px;
    min-height: 250px;
    max-height: 300px;
    background-color: #282828;
    border-radius: 15px;
    min-width: 300px;
    max-width: 400px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.task-title{
    font-size: 25px;
}
.task-date{
    font-size: 18px;
    color: #8B8B8B;
    margin: 5px 0 5px 0;
}
.task-description{
    font-size: 18px;
    color: #8B8B8B;
}
.task-actions{
    width: 100%;
    max-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}